.hello {
    background-color: rgb(225, 238, 38);
}
.hero-img {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    border: 10px solid black;
    margin-left: 20px;
    margin-top: 10px;
}

.heroh2 {
    margin-left: 100px;
    margin-bottom: 0;
}
.heroptag {
    margin-left: 100px;
    margin-top: 0;
}
ul {
    list-style: none;
}